:root{
    --amarelo: #c5e221;
    --preto: #1d1d1d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
 background: var(--preto);
 font-family: sans-serif;
 color: white;

}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo {
    color: var(--amarelo);
    font-family: sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: var(--amarelo);
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* aula principal */
.aula-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.90),rgba(0,0,0,.70)100%), url('../img/backgroundjs.jpg');
    
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 10%;
}

.aula-principal .descricao{
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}

.botao {
    background-color: var(--amarelo);
    border: none;
    color: var(--preto);
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;

}

.botao:hover {
    background-color: white;
    color: var(--preto);
    transition: .4s;
}

.botao i {
    margin-right: 10px;
}

.box-tutorial {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-tutorials {
    margin-top: 5px;

}