:root{
    --amarelo: #c5e221;
    --preto: #292828;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
 background: var(--preto);
 font-family: sans-serif;
 color: white;

}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}

header .logo {
    color: var(--amarelo);
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 50px;
}

header nav a{
    text-decoration: none;
    color: var(--amarelo);
    margin-right: 50px;
}

header nav a:hover {
    color: #fff;
}

/* aula principal */
.aula-principal {
    font-size: 16px;
    background: linear-gradient(rgba(206, 206, 206, 0.5),rgba(0,0,0,.20)100%);
    
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;

}

.aula-principal .container {
    width: 40vw;
    align-items: center;
    margin-top: 250px;

}

.titulo {
    margin-bottom: 30px;
}

.descricao {
    font-size: 24px;
    font-weight: 100;
}

.main-container {
    flex-direction: row;
}

.img-main img {
    width: 60%;
    float: right;
    margin-top: -500px;

}



.aula-principal .descricao{
    margin-bottom: 40px;
    width: 70%;
}

.titulo {
    font-size: 40px;
}

.botao {
    background-color: var(--amarelo);
    border: none;
    color: var(--preto);
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;

}

.botao:hover {
    background-color: white;
    color: var(--preto);
    transition: .4s;
}

.botao i {
    margin-right: 10px;
}

.box-tutorial {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-tutorials {
    margin-top: 5px;

}